<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <meta name="description" content="{{ site.title | default: site.github.repository_name }} : {{ site.description | default: site.github.project_tagline }}">

    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

    <title>{{ site.title | default: site.github.repository_name }}</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="{{ site.github.repository_url }}">View on GitHub</a>

          <h1 id="project_title">{{ site.title | default: site.github.repository_name }}</h1>
          <h2 id="project_tagline">{{ site.description | default: site.github.project_tagline }}</h2>

          {% if site.show_downloads %}
            <section id="downloads">
              <a class="zip_download_link" href="{{ site.github.zip_url }}">Download this project as a .zip file</a>
              <a class="tar_download_link" href="{{ site.github.tar_url }}">Download this project as a tar.gz file</a>
            </section>
          {% endif %}
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <section>
      <div id="main_content_wrap" class="main_style">
        <section id="main_content" class="inner">
          {{ content }}
        </section>
      </div>
      <div id="side_bar_content_wrap" class="side_bar_style">
        <p><a class="side_bar_text_style" href="https://pages.github.com"><b>Termite</b></a></p>
        <p><a class="side_bar_text_style" href="example.html"><b>Termite architecture</b></a></p>
        <p><a class="side_bar_text_style" href="https://pages.github.com"><b>Termite API guide</b></a></p>
        <ul class="side_bar_listing_style">
          <li class="side_bar_li_style"><p><a class="side_bar_text_style" href="https://pages.github.com"><b>Handle simulated WiFi Direct events</b></a></p></li>
          <li class="side_bar_li_style"><p><a class="side_bar_text_style" href="https://pages.github.com"><b>Initialize the Termite API</b></a></p></li>
          <li class="side_bar_li_style"><p><a class="side_bar_text_style" href="https://pages.github.com"><b>Probing the network</b></a></p></li>
          <li class="side_bar_li_style"><p><a class="side_bar_text_style" href="https://pages.github.com"><b>Setting up TCP connections</b></a></p></li>
          <li class="side_bar_li_style"><p><a class="side_bar_text_style" href="https://pages.github.com"><b>Termination of the Termite service</b></a></p></li>
        </ul>
        <p><a class="side_bar_text_style" href="https://pages.github.com"><b>Tutorials</b></a></p>
        <ul class="side_bar_listing_style">
          <li class="side_bar_li_style"><p><a class="side_bar_text_style" href="https://pages.github.com"><b>Lesson 1 - Configuring Termite</b></a></p></li>
          <li class="side_bar_li_style"><p><a class="side_bar_text_style" href="https://pages.github.com"><b>Lesson 2 - Detecting devices with WiFi Direct</b></a></p></li>
          <li class="side_bar_li_style"><p><a class="side_bar_text_style" href="https://pages.github.com"><b>Lesson 3 - Simulating device movement</b></a></p></li>
          <li class="side_bar_li_style"><p><a class="side_bar_text_style" href="https://pages.github.com"><b>Lesson 4 - WiFi group formation and message exchange</b></a></p></li>
          <li class="side_bar_li_style"><p><a class="side_bar_text_style" href="https://pages.github.com"><b>Lesson 5 - Simulating WiFi groups</b></a></p></li>
        </ul>        
        <p><a class="side_bar_text_style" href="wiki/DIY.html"><b>DIY exercises</b></a></p>
        <p><a class="side_bar_text_style" href="https://pages.github.com"><b>Useful tips</b></a></p>
        <p><a class="side_bar_text_style" href="https://pages.github.com"><b>FAQ</b></a></p>
        
<!--        * [Termite](Home)
* [Termite architecture](Termite Architecture)
* [Termite API guide](Termite API Guide)
   * [Handle simulated WiFi Direct events](Simulated WiFi Events)
   * [Initialize the Termite API](Initialize API)
   * [Probing the network](Network Probing)
   * [Setting up TCP connections](Setup TCP Connections)
   * [Termination of the Termite service](Service Termination)
* [Tutorials](Home)
   * [Lesson 1 - Configuring Termite](Termite Configuration)
   * [Lesson 2 - Detecting devices with WiFi Direct] (Device Detection)
   * [Lesson 3 - Simulating device movement](Simulating Movement)
   * [Lesson 4 - WiFi group formation and message exchange](WiFi Groups & Messages)
   * [Lesson 5 - Simulating WiFi groups](Simulating Groups)
* [DIY exercises](DIY)
* [Useful tips](Useful Tips)
* [FAQ](FAQ)
    -->    
      </div>
    </section>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        {% if site.github.is_project_page %}
        <p class="copyright">{{ site.title | default: site.github.repository_name }} maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <!--<p>Published with <a href="https://pages.github.com">GitHub Pages</a></p> -->
      </footer>
    </div>



  </body>
</html>
